main {
  display: flex;
  align-items: center;
  justify-content: center;
}

area {
  outline: 5px solid var(--red);
}

.popup {
  padding: 20px;
  background-color: rgba(100, 100, 100, 0.9);
  color: white;
  font-weight: 100;
  font-size: 14px;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms, transform 300ms;
}

.popup:target {
  opacity: 1;
  transform: scale(1);
}

.popup > .close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: black;
  padding: 4px 10px;
}

.controller{
	position:absolute;
	right: 20px;
	top: 50%;
	transform: translateY:(-50%)
}
.controller ul li{
	list-style:none;
	font-size:15px;
	color: #000;
	font-weight:bold;
	padding: 0 30px;
	margin-bottom: 20px;
	cursor: pointer;
	line-height: 50px;
}
.controller ul li::after,
.controller .active::after{
	content: '';
	width: 2px;
	height: 50px;
	background: #a2a2a2;
	position: absolute;
	left: 0;
}
.controller .active::after{
	bac
	
#picture{
	height: 100%;
	display: block;
	margin: auto;